body {
    background-image: url("../pictures/cinema.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#login {
    float: left;
    width: 90px;
    height: 60px;
    background-color: grey;
}

/*#register {
    float: left;
    width: 90px;
    height: 60px;
    margin-left: 30px;
    background-color: grey;
}*/

#one {
    float: left;
    margin-left: 32%;
    text-decoration: none;
    margin-top: 10px;
}

#two {
    float: left;
    margin-left: 80px;
    text-decoration: none;
    margin-top: 10px;
}

#three {
    float: left;
    margin-left: 80px;
    text-decoration: none;
    margin-top: 10px;
}