body {
    background-color: black;
}

#back {
    background-color: grey;
    width: 90px;
    height: 60px;
}

form {
    margin-top: 340px;
    text-align: center;
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: 700;
}

#all {
    background-image: url("../pictures/lock.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -90px;
    border: 3px solid blue;
    height: 300px;
    width: 350px;
    border-radius: 25px;
}

#one {
    text-align: center;
    margin-top: 80px;
    background-color: transparent;
    font-weight: 900;
    color: black;
}

#two {
    text-align: center;
    margin-top: 10px;
    background-color: transparent;
    font-weight: 900;
    color: black;
}

#three {
    width: 205px;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    font-weight: 900;
    color: black;
}